<div class="side-bar-container">
    <a href="#" class="side-bar-item">
        <div class="side-bar-item-icon">
            <i class="fas fa-project-diagram"></i>
        </div>
        <div class="side-bar-item-text"> <span>Dashboard</span></div>
    </a>
    <a href="#" class="side-bar-item">
        <div class="side-bar-item-icon">
            <i class="fas fa-bullhorn"></i>
        </div>
        <div class="side-bar-item-text"><span>Campañas</span></div>
    </a>
    <a href="#" class="side-bar-item">
        <div class="side-bar-item-icon">
            <i class="fas fa-user-friends"></i>
        </div>
        
        <div class="side-bar-item-text"> <span>Pacientes</span></div>
    </a>
    <a href="#" class="side-bar-item">
        <div class="side-bar-item-icon">
            <i class="fas fa-mobile"></i>
        </div>
        <div class="side-bar-item-text"><span>Programas</span></div>
    </a>
    <a href="#" class="side-bar-item">
        <div class="side-bar-item-icon">
            <i class="fas fa-map-marked-alt"></i>
        </div>
        <div class="side-bar-item-text"><span>Monitoreo</span></div>
    </a>
    <a href="#" class="side-bar-item">
        <div class="side-bar-item-icon">
            <i class="far fa-chart-bar"></i>
        </div>
        <div class="side-bar-item-text"><span>Reportes y estadísticas</span></div>
    </a>
</div>