@import '../../../sass/variables';
@import '../../../sass/mixins';

.nav-container{
    width: 100%;
    height: 70px;
    @include flex-box(row nowrap, space-between, center); 
    padding: 10px;
    background: linear-gradient(90deg, $primary-bg 33%, $secondary-bg 100%);
}
.nav-logo{
    width: 200px;
    height: auto;
    @include flex-box(row nowrap, center, center);
    img{
        width: inherit;
    }
}
.nav-info{
    width: calc(100% - 400px);
    @include flex-box(row nowrap, space-evenly, center);
    transition: 1s;
}
.nav-config{
    width: 200px;
    @include flex-box(row nowrap, space-around, normal);
    a{
        font-size: 30px;
        color: #677DD1;
    }
}
.nav-info-items{
    @include flex-box(column nowrap, center, normal);
    height: auto; 
    background-color: rgba(0,0,36,1);
    background-color: transparent !important;
    a{
        color: #FFF;
        font-size: 30px;
        text-decoration: none;
        span{
            color:#677DD1;
            margin-right: 20px
        }
    }

}
.button-menu{
    display: none !important;
    width: 25px;
    height: 25px;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    background-color: #6697FD;
    position: absolute;
    left: -20px
}
.show-sub{
    transform: translateX(-70px);
}

@media (max-width: 1199.98px){
    .nav-info-items{
        a{
            font-size: 20px;
        }
    }
}

@media (max-width: 991.98px){
   .nav-info{
       width: 70px;
       height: calc(100vh - 70px);
       position: absolute;

       right: -65px;
       top: 70px;
       display: flex;
       flex-flow: column nowrap;

        background: linear-gradient(180deg, $secondary-bg 100%, $primary-bg 33%);
   } 
   .nav-info-items{
       a{
           @include flex-box(row, center, normal);
           font-size: 18px;
           span{
               display: block;
               width: 18px;
               margin-right: 10px;
           }
       }
   }
   .button-menu{
       display: flex !important;
   }
}
    