<nav class="nav-container">
    <div class="nav-logo">
        <!--TODO-->
        <img src="assets/img/logo1.png">
    </div>
    <div class="nav-info" #subMenu>
        <div class="nav-info-items">
            <a href="#"><span><i class="fas fa-bullhorn"></i></span>{{ statistics.announcement }}</a>
        </div>
        <div class="nav-info-items">
            <a href="#"><span><i class="far fa-envelope"></i></span>{{ statistics.unReadMessages }}</a>
        </div>
        <div class="nav-info-items">
            <a href="#"><span><i class="far fa-comment-alt"></i></span>{{ statistics.inMessages }}</a>
        </div>
        <div class="nav-info-items">
            <a href="#"><span><i class="far fa-comment-alt"></i></span>{{ statistics.outMessages }}</a>
        </div>
        <div class="nav-info-items">
            <a href="#"><span><i class="fas fa-phone-alt"></i></span>{{ statistics.calls }}</a>
        </div>
        <div class="nav-info-items">
            <a href="#"><span><i class="fas fa-mobile-alt"></i></span>{{ statistics.mobile }}</a>
        </div>
        <div class="button-menu" (click)="onToggle()">
            <i class="fas fa-chevron-right" *ngIf="toggle"></i>
            <i class="fas fa-chevron-left" *ngIf="!toggle"></i>
        </div>
    </div>
    <div class="nav-config">
        <a href=""><i class="fas fa-cog"></i></a>
        <a href=""><i class="far fa-user"></i></a>
    </div>
</nav>