@import '../sass/variables';
@import '../sass/mixins';

.app-container{
    @include flex-box(column nowrap, normal, normal);
    overflow: hidden;
    background: linear-gradient(360deg, rgba(1,34,77,1) 50%, rgba(0,0,36,1) 100%);
}
.app-content{
    @include flex-box(row nowrap, normal, normal);
}
.sand-box-container{
    width: 100%;
    height: calc(100vh - 70px);
    overflow-y: auto;
}