.app-container{
    display: flex;
    flex-flow: column nowrap; 
    overflow: hidden;
}
.app-content{
   display: flex; 
   flex-flow: row nowrap;
}
.sand-box-container{
    width: 100%;
    height: calc(100vh - 70px);
    overflow-y: auto;
}