@import '../../../sass/variables';
@import '../../../sass/mixins';

.side-bar-movement{
    position: relative;
    transition: 1s;
}
.side-bar-container{
    width: 220px;
    height: calc(100vh - 70px);
    background: linear-gradient(180deg, $primary-bg 33%, $secondary-bg 100%);
    overflow-y: auto;
    position:relative;
}

.side-bar-item{
    width: 100%;
    height: 90px;
    @include flex-box(row nowrap, center, initial);
    text-decoration: none !important;
    border-bottom: 1px solid #021c58;
}
.side-bar-item-icon{
    width: 40%;
    height: 100%;
    @include flex-box(row, center, center);
    padding: 10px;

    color: #5072B0;
    font-size: 30px;
}
.side-bar-item-text{
    width: 60%;
    height: 100%;

    @include flex-box(row, initial, center);
    padding-left: 10px;
    span{
        color: #3E5986;
        font-size: 17px; 
        letter-spacing: 1px;
    }
}
.side-bar-item:hover{
    background-color: $active-link;
}
.button-menu{
    width: 25px;
    height: 25px;
    @include flex-box(row, center, center);
    border-radius: 20px;
    background-color: #6697FD;
    position: absolute;
    right: -20px;
    bottom: calc(30% - 70px);
    z-index: 1000;
}
.hide{
    margin-left: -220px;
    
}
.activeLink{
    background-color: $active-link;
}