.side-bar-container{
    width: 220px;
    height: calc(100vh - 70px);
    top: 70px;
    background: linear-gradient(180deg, rgba(1,34,77,1) 33%, rgba(0,0,36,1) 100%);
    overflow-y: auto;
}
.side-bar-item{
    width: 100%;
    height: 90px;
    display: flex;
    justify-content: center;
    text-decoration: none !important;
    border-bottom: 1px solid #021c58;
}
.side-bar-item-icon{
    width: 40%;
    height: 100%;;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;

    color: #5072B0;
    font-size: 30px;
}
.side-bar-item-text{
    width: 60%;
    height: 100%;

    display: flex;
    align-items: center;
    padding-left: 10px;
    span{
        color: #3E5986;
        font-size: 17px; 
        letter-spacing: 1px;
    }
}
.side-bar-item:hover{
    background-color: #14356A;
}