@import '../../../../sass/mixins';
@import '../../../../sass/variables';


.campaign-item{
    @include flex-box(row nowrap, initial, initial);    
    border-radius: 15px;
    border: 1px solid #3E568C;
    margin-bottom: 25px;
    background: linear-gradient(90deg, rgba(20,53,106,0.3) 20%, rgba(255,255,255,0.2) 100%);
    overflow: hidden;
}
.campaign-image{
    width: 20%;   
    @include flex-box(column nowrap, center, center);
    border-right: 4px solid $item-color;
}
.campaign-image-title{
    margin-bottom: 15px;
    span{
        color: $item-color;
        font-size: 25px;
    }
}
.campaign-image-icon{
    i{
        font-size: 100px;
        color: $item-color;
    }
}
.campaign-info{
    width: 80%;
}
.row-c{
    @include flex-box(row nowrap, initial, initial);
    border-bottom: 1px solid $item-border;
}
.row-c:last-child{
    border-bottom: 0px;
}
.col-c{
    width: 50%;
    @include flex-box(row, initial, initial);
    padding: 20px 15px;
}
.col-c:nth-child(odd){
    border-right: 1px solid $item-border;
}
.col-c-icon{
    @include flex-box(row, initial, center);
    width: 70px;
    margin-left: 25px;
    font-size: 35px;
    color: $item-color;
}
.col-c-info{
    width: 100%;
}
.info-title{
    font-size: 15px;
    color: $item-color;
}
.info-body{
    font-size: 18px;
    font-weight: bold;
    color: #FFF;
}


@media (max-width: 1399.98px){
    .col-c-icon{
        margin-left: 10px;
        i{
            font-size: 25px;
        }
    }
    .info-body{
        font-size: 16px;
    }
    .campaign-image-icon{
        i{
            font-size: 70px;
        }
    }
}

@media (max-width: 1199.98px){
    .campaign-image-icon{
        i{
            font-size: 50px;
        }
    }
}

@media (max-width: 991.98px){
    .campaign-item{
        @include flex-box(column nowrap, initial, initial);
    }
    .campaign-image{
        width: 100%;
        @include flex-box(row nowrap, center, center);
        border: 0px;
        border-bottom: 3px solid $item-color;
        padding: 10px 0px;
    }
    .campaign-image-title{
        margin: 0px;
    }
    .campaign-image-icon{
        margin-left: 15px;
        i{
            font-size: 20px;
        }
    }
    .campaign-info{
        width: 100%
    }
}
@media (max-width: 767.98px){
    .row-c{
        @include flex-box(row wrap, initial, initial);
        border: 0px !important;
    }
    .col-c{
        width: 100%;
        border: 0px !important;
        border-bottom: 1px solid $item-border !important;
    }
    .row-c:last-child .col-c:last-child{
        border: 0px !important;
    }
}
