.campaign-item{
    display: flex;
    flex-flow: row nowrap;
    border-radius: 15px;
    border: 1px solid #3E568C;
    margin-bottom: 25px;
    background: linear-gradient(90deg, rgba(20,53,106,0.3) 20%, rgba(255,255,255,0.2) 100%);

}
.campaign-image{
    width: 20%;   
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    border-right: 4px solid #9169A8;
}
.campaign-image-title{
    margin-bottom: 15px;
    span{
        color: #9169A8;
        font-size: 25px;
    }
}
.campaign-image-icon{
    i{
        font-size: 100px;
        color: #9169A8;
    }
}
.campaign-info{
    width: 80%;
}
.row-c{
    display: flex;
    flex-flow: row nowrap;
    border-bottom: 1px solid rgba(255,255,255,0.3);
}
.row-c:last-child{
    border-bottom: 0px;
}
.col-c{
    width: 50%;
    display: flex;
    flex-flow: row;
    padding: 20px 15px;
}
.col-c:nth-child(odd){
    border-right: 1px solid rgba(255,255,255,0.3);
}
.col-c-icon{
    display: flex;
    width: 70px;
    margin-left: 25px;
    align-items: center;
    font-size: 35px;
    color: #9169A8;
}
.col-c-info{
    width: 100%;
}
.info-title{
    font-size: 15px;
    color: #9169A8;
}
.info-body{
    font-size: 18px;
    font-weight: bold;
    color: #FFF;
}


@media (max-width: 1399.98px){
    .col-c-icon{
        margin-left: 10px;
        i{
            font-size: 25px;
        }
    }
    .info-body{
        font-size: 16px;
    }
    .campaign-image-icon{
        i{
            font-size: 70px;
        }
    }
}

@media (max-width: 1199.98px){
    .campaign-image-icon{
        i{
            font-size: 50px;
        }
    }
}

@media (max-width: 991.98px){
    .campaign-item{
        flex-flow: column nowrap
    }
    .campaign-image{
        width: 100%;
        flex-flow: row nowrap;
        border: 0px;
        border-bottom: 3px solid #9169A8;
        
    }
    .campaign-image-title{
        margin: 0px;
    }
    .campaign-image-icon{
        margin-left: 15px;
        i{
            font-size: 20px;
        }
    }
    .campaign-info{
        width: 100%
    }
}
@media (max-width: 767.98px){
    .row-c{
        flex-flow: row wrap;
        border: 0px !important;
    }
    .col-c{
        width: 100%;
        border: 0px !important;
        border-bottom: 1px solid rgba(255,255,255,0.3) !important;
    }
    .col-c:last-child{
        border: 0px !important;
    }
}
